@import 'tailwindcss';

*{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: rgb(218, 27, 218);
}

button {
  cursor: pointer;
}
